{{define "dashboard/sidebar"}}
<aside id="sidebar-dashboard">
  <div class="slimscroll">
    <div class="well well-sm user-info">
      <h5>{{T "user_profile"}}</h5>
      <i class="glyphicon glyphicon-user"></i>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-cog"></i>
        </button>
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">{{T "settings"}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu right" role="menu" style="margin-left: -24px;">
          <li><a href="/admin/users/{{.ActiveUser.ID}}/edit"><i class="glyphicon glyphicon-edit indent"></i>{{T "edit_profile"}}</a>
          </li>
          <li class="divider"></li>
          <li><a href="/logout"><i class="glyphicon glyphicon-off indent"></i>{{T "logout"}}</a>
          </li>
        </ul>
      </div>
      <span class="email">{{.ActiveUser.Email}}</span>
    </div>

    <h5>{{T "navigation"}}</h5>
    <ul class="nav nav-pills nav-stacked">
      <li class="{{isActive .Active "posts"}}">
        <a href="/admin/posts"><i class="glyphicon glyphicon-pencil indent"></i>{{T "posts"}}</a>
      </li>
      <li class="{{isActive .Active "comments"}}">
        <a href="/admin/comments"><i class="glyphicon glyphicon-pencil indent"></i>{{T "comments"}}</a>
      </li>
      <li class="{{isActive .Active "tags"}}">
        <a href="/admin/tags"><i class="glyphicon glyphicon-pencil indent"></i>{{T "tags"}}</a>
      </li>
      <li class="{{isActive .Active "pages"}}">
        <a href="/admin/pages"><i class="glyphicon glyphicon-duplicate indent"></i>{{T "pages"}}</a>
      </li>
      <li class="{{isActive .Active "users"}}">
        <a href="/admin/users"><i class="glyphicon glyphicon-user indent"></i>{{T "users"}}</a>
      </li>
    </ul>
  </div>
</aside>
{{end}}
