{{define "comments/form"}}
{{template "dashboard/header" .}}
{{template "dashboard/navbar" .}}
{{template "dashboard/sidebar" .}}
<div id="main-column" class="container-fluid" role="main">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" method="post">
      <fieldset>
        <legend>{{.Title}}</legend>
        {{range .Flash}}
          <div class="alert alert-danger">{{.}}</div><p>
        {{end}}
        {{.csrfField}}
        <input type="hidden" name="id" value="{{.Comment.ID}}" >
        <div class="form-group">
          <label class="col-md-2 control-label" for="author_name">{{T "author"}}</label>
          <div class="col-md-10">
            <input id="author_name" readonly name="author_name" value="{{.Comment.AuthorName}}" placeholder="{{T "author_placeholder"}}" class="form-control input-md" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="post_id">{{T "post_id"}}</label>
          <div class="col-md-10">
            <input id="post_id" readonly name="post_id" value="{{.Comment.PostID}}" placeholder="{{T "post_id_placeholder"}}" class="form-control input-md" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="parent_id">{{T "parent_id"}}</label>
          <div class="col-md-10">
            <input id="parent_id" readonly name="parent_id" value="{{.Comment.ParentID.Value}}" placeholder="{{T "parent_id_placeholder"}}" class="form-control input-md" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="content">{{T "content"}}</label>
          <div class="col-md-10">
            <textarea class="form-control" name="content" id="content">{{.Comment.Content}}</textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-offset-2 col-md-10" for="published">
            <input id="published" name="published" type="checkbox" value="true" {{if .Comment.Published}}checked{{end}} >
            {{T "published"}}
          </label>
        </div>

        <div class="form-group">
          <label class="col-md-2"></label>
          <div class="col-md-10">
            <input type="submit" class="btn btn-primary" value="{{T "submit"}}" >
            <input type="button" class="btn btn-default" formnovalidate onclick="window.history.back();" value="{{T "cancel"}}">
          </div>
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</div>
{{template "dashboard/footer" .}}
{{end}}
