{{define "comments/index"}}
{{template "dashboard/header" .}}
{{template "dashboard/navbar" .}}
{{template "dashboard/sidebar" .}}
<div id="main-column" class="container-fluid" role="main">
  <h2>{{.Title}}</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="id">{{T "ID"}}</th>
        <th class="post_id">{{T "post_id"}}</th>
        <th class="parent_id">{{T "parent_id"}}</th>
        <th class="content">{{T "content"}}</th>
        <th class="author_name">{{T "author"}}</th>
        <th class="published">{{T "published"}}</th>
        <th class="timestamp">{{T "created"}}</th>
        <th class="actions">{{T "actions"}}</th>
      </tr>
    </thead>
    <tbody>
      {{$csrfField := .csrfField}}
      {{range .List}}
        <tr>
          <td class="id">{{.ID}}</td>
          <td class="post_id">
            <a href="/posts/{{.PostID}}" target="_blank">{{.PostID}}</a>
          </td>
          <td class="parent_id">
            {{if .ParentID.Valid}}
            <a href="/posts/{{.PostID}}#comment-{{.ParentID.Value}}">{{.ParentID.Value}}</a>
            {{end}}
          </td>
          <td class="content">{{.Excerpt}}</td>
          <td class="author_name">{{.AuthorName}}</td>
          <td class="published">
            {{if .Published}}
            <span class="glyphicon glyphicon-ok"></span>
            {{else}}
            <span class="glyphicon glyphicon-remove"></span>
            {{end}}
          </td>
          <td class="timestamp">{{dateTime .CreatedAt}}</td>
          <td class="actions">
            <a href="/posts/{{.PostID}}#comment-{{.ID}}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
            <a href="/admin/new_comment?parent_id={{.ID}}" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="/admin/edit_comment/{{.ID}}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
            <form class="inline-block" action="/admin/delete_comment" method="post">
              {{$csrfField}}
              <input type="hidden" name="id" value="{{.ID}}">
              <button type="button" class="btn btn-sm btn-danger" onclick="((confirm('{{T "are_you_sure"}}')) ? this.form.submit() : null);"><span class="glyphicon glyphicon-remove"></span></button>
            </form>
          </td>
        </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{template "dashboard/footer" .}}
{{end}}
