{{define "posts/form"}}
{{template "header" .}}
{{template "dashboard/navbar" .}}
{{template "dashboard/sidebar" .}}
<div id="main-column" class="container-fluid" role="main">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal" method="post">
      <fieldset>
        <legend>{{.Title}}</legend>
        {{range .Flash}}
          <div class="alert alert-danger">{{.}}</div><p>
        {{end}}
        {{.csrfField}}
        <input type="hidden" name="id" value="{{.Post.ID}}" >
        <div class="form-group">
          <label class="col-md-2 control-label" for="name">Name</label>
          <div class="col-md-10">
            <input id="name" name="name" value="{{.Post.Name}}" placeholder="Post title" class="form-control input-md" required="" >
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="content">Content</label>
          <div class="col-md-10">
            <input id="content" type="hidden" name="content">
            <div id="markdown-editor">{{.Post.Content}}</div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" for="tags">Tags</label>
          <div class="col-md-10">
            <select id="tags" name="tags" class="form-control" multiple="multiple">
              {{$post := .Post}}
              {{range .Tags}}
              <option {{if stringInSlice .Name $post.Tags}}selected="selected"{{end}}>{{.Name}}</option>
              {{end}}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-offset-2 col-md-10" for="published">
            <input id="published" name="published" type="checkbox" value="true" {{if .Post.Published}}checked{{end}} >
            Publish
          </label>
        </div>

        <div class="form-group">
          <label class="col-md-2"></label>
          <div class="col-md-10">
            <input type="submit" class="btn btn-primary" value="Submit" onclick="$('#content').val($('#markdown-editor').markdownEditor('content'))">
            <input type="button" {{if not .Post.Published}}title="Post is unpublished" disabled="disabled"{{end}} class="btn btn-success" value="Post on facebook" onclick="postonfacebook();" />
            <input type="button" class="btn btn-default" formnovalidate onclick="window.history.back();" value="Cancel">
            <script>
              function postonfacebook() {
                $.ajax({
                  method: "POST",
                  url: '/admin/post_on_facebook?id={{.Post.ID}}', 
                  data: null, 
                  error: function(jqXHR, status){alert("Fail, see logs");},
                  success: function(data, status){alert('Posted successfully');},
                });
              }
            </script>
          </div>
        </div>
      </fieldset>
      </form>
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}
