{{define "posts/show"}}
{{template "header" .}}
{{template "navbar" .}}
<div class="container" role="main">
  {{template "sidebar" .}}
  <div id="main-column">
    <h1>{{.Post.Name}}</h1>
    {{template "posts/post-info" .Post}}
    <div class="content">{{.Post.HTMLContent}}</div>
    <div id="comments">
      {{range .Flash}}
        <div class="alert alert-info">{{.}}</div><p>
      {{end}}
      {{template "comments/post-form" .}}
      {{range .Post.Comments}}
        <div id="comment-{{.ID}}" class="well well-sm">
          <p>{{.AuthorName}}, {{dateTime .CreatedAt}}</p>
          {{.Content}}
        </div>
      {{end}}
    </div>
  </div>
</div>
{{template "footer" .}}
{{end}}
